@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
    --background: #ffffff;
    --foreground: var(--color-body);
    --headings: #66347F;
    --navbar-height: 4rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-headings: var(--headings);
    --font-sans: var(--font-inter);
    --font-family-outfit: var(--font-outfit);
    --font-hero: var(--font-hero);

    --color-primary: #5c6faf;
    --color-primary-50: #f4f6fa;
    --color-primary-100: #e5eaf4;
    --color-primary-200: #d2dbeb;
    --color-primary-300: #b2c3de;
    --color-primary-400: #8da5cd;
    --color-primary-500: #7289bf;
    --color-primary-600: #5c6faf;
    --color-primary-700: #5462a1;
    --color-primary-800: #495284;
    --color-primary-900: #3e456a;
    --color-primary-950: #292d42;

    --color-body: #292d42;
    --color-body-light: #393c4e;
}


body {
    background: var(--background);
    color: var(--foreground);
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.prose h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.prose h2 {
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
}

.prose p {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.prose a {
    color: var(--color-primary-700);
    text-decoration: underline;
}
.prose a:hover {
    color: var(--color-primary-800);
    text-decoration: underline;
}

.prose ul {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.prose ul li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.wave-transition {
    position: relative;
}

.wave-transition::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 4px;
    background: white;
    clip-path: ellipse(50% 100% at 50% 100%);
    z-index: 10;
}

.search-input::placeholder {
    color: #d1d5db;
    opacity: 1;
}

.search-input::-webkit-input-placeholder {
    color: #d1d5db;
}

.search-input::-moz-placeholder {
    color: #d1d5db;
    opacity: 1;
}

.search-input:-ms-input-placeholder {
    color: #d1d5db;
}

@keyframes pan-right {
    from {
        background-position: 0% center;
    }
    to {
        background-position: 100% center;
    }
}

.course-card-bg {
    animation: pan-right 7s ease-in-out forwards;
    animation-play-state: paused;
}

.group:hover .course-card-bg {
    animation-play-state: running;
}

